*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgrey;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.main{
  background-color:red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding:1rem;
}

.base-textarea{
  background-color:yellow;
  height: 15rem;
  width: 80%;
  overflow: auto;
}

.bg-green{
  background-color:lightgreen;
}

.bg-red{
  background-color:lightcoral;
}